* {
	margin: 5px;
}

#container {
	background-color: gainsboro;
	width: 1000px;
	padding-bottom: 20px;
}

#site_name {
	color: darkblue;
	font-weight: bold;
	text-decoration: underline;
	font-size: 30px;
	position: relative;
	display: inline-block;
}

#area {
	font-weight: bold;
	font-size: 30px;
	text-decoration: 
	position: relative;
	display: inline-block;
	margin-left: 135px;
}

#menu {
	position: relative;
	display: inline-block;
	margin-left: 140px;
}

#nav_bar {
	height: 450px;
	width: 210px;
	background-color: darkgray;
	padding: 10px;
	margin-bottom: 30px;
}


#nav_bar h2 {
	color: darkblue;
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
	background-color: gainsboro;
	position: relative;
	display: inline-block;
	margin-left: 10px;
}

#search_craigslist {
	position: relative;
	background-color: dimgray;
	padding: 2px;
	margin: 15px 5px;
}

#search_craigslist h2 {
	background-color: darkgray;
	position: relative;
}

#search_craigslist input {
	display: block;
}

#nav_bar h3, h4 {
	color: darkblue;
	text-decoration: underline;
	position: relative; /*how can you do it with absolute, each heading individually?*/
	display: block;
	font-weight: normal;
	padding: 5px;
	text-align: center;
	
}

#nav_bar h4 {
	background-color: gray;
}

#nav_bar p {
	position: relative;
	display: block;
	padding: 5px;
	text-align: center;
	
}

#main_content {
	display: inline;
	position: absolute;
	left: 270px;
	top: 60px;
}

#column1 {
	width: 210px;
	display: inline-block;
	vertical-align: top;
}

#column2 {
	width: 210px;
	display: inline-block;
	vertical-align: top;
}

#column3 {
	width: 210px;
	display: inline-block;
	vertical-align: top;
}

.h {
	background-color: dimgray;
	margin: 0px;
	padding: 2px;
}

.so {
	background-color: white;
	text-decoration: underline;
	color: darkblue;
	margin: 0px 0px 1px 0px;
	padding: 2px;
}

.so1 {
	text-decoration: underline;
	color: darkblue;
	margin: 0px 0px 1px 0px;
}

.bold {
	text-decoration: underline;
	color: darkblue;
	margin: 0px 0px 1px 0px;
	font-weight: bold;
}